@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* Códigos Gerais (root) */

:root{
    --color-orange: #bd6614;
    --color-gray: #5f5f60;
    --color-brown: #4f2609;
    --color-light_red: #f87b60;
    --color-ligth-yellow: #ffd06b;
    --color-cream: #ebe4d1;
    --color-gray2: #b4b4b3;
    --color-darkblue: #26577c;
    --color-orange: #e55604
    --font-titulo: "MontSerrat";
    --font-texto: "QuickSand", sans-serif;
    --font-alternative: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-family: var(--font-titulo);
}

h1{
    margin-bottom: 10px;
}

h2{
    margin-top: 0;
}


a{
    text-decoration: none;
}

footer {
    color: #ffffff;
    padding: 20px; 
    text-align: center; 
    margin-top: auto;
    justify-content: center;
}


footer p {
    margin: 0; /* Remove margem padrão do parágrafo */
    font-size: 14px; /* Tamanho do texto */
    align-items: center;
}

@media screen and (max-width: 469px) {
    form {

      max-width: 90%;
    }
  }


  /* Códigos para telaLogin.html (index.html)*/

body {
    background-image: url('/background1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loginContainer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #ff8c00,#bd6614);  
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
    color: var(--color-cream);
}

.form-group {
    margin-bottom: 20px;
    align-items: center;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: var(--font-titulo);
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-style: italic;
}
.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out;
    font-family: var(--font-titulo);

}
.btn:hover {
    background-color: #0056b3;
}

/* Códigos para cadastroNovoUsuário */

.cadastroContainer {
    background-image: linear-gradient(to bottom right, #ff8c00,#bd6614);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
    text-align: center;
    color: var(--color-cream);
    font-family: var(--font-titulo);
}

.cadastroContainer p{
    font-size: large;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    margin: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:large;
}



.btn:hover {
    background-color: #0056b3;
}

/* Código para cadastroPontosRisco */

.riscoContainer {
    background-image: linear-gradient(to bottom right, #ff8c00, #bd6614);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    color: #0056b3;
    position: relative; /* Adicionamos position: relative para posicionar o ícone do menu */
}

.riscoContainer h2 {
    color: var(--color-cream);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--color-cream);
}

.form-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 5px;
    display: flex;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

i#burguer {
    position: absolute; /* Adicionamos position: absolute para posicionar o ícone */
    top: 15px; /* Posição em relação ao topo da div .mainMenu */
    right: 0;
    display: flex;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    justify-content: center;
    z-index: 999; /* Garante que o ícone fique sobreposto ao conteúdo da página */
}

i#burguer:hover {
    cursor: pointer;
}

.mainMenu menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#itens {
    position: absolute;
    right: 0; /* Alinha o menu à direita da div .mainMenu */
    background-color: #fff; /* Define a cor de fundo do menu */
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#itens a {
    text-decoration: none;
    color: #333; /* Cor do texto */
}

#itens a:hover {
    color: var(--color-orange); /* Cor do texto no hover */
}

/* Ajustes para telas menores */
@media screen and (max-width: 412px) {
    .riscoContainer {
        padding: 20px; /* Reduz o padding */
    }
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--color-cream);
}

.form-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 5px;
    display: flex;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

i#burguer {
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    justify-content: center;
    z-index: 999;
}

i#burguer:hover {
    cursor: pointer;
}

.mainMenu menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#itens {
    position: absolute;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#itens a {
    text-decoration: none;
    color: #333;
}

#itens a:hover {
    color: var(--color-orange);
}



/* Código para pagina riscosCadastrados */
.custom-container {
    max-width: 100%; /* Alterado para ocupar a largura total */
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: var(--font-titulo);
    font-size: large;
}

.custom-container h2{
    text-align: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th,
.custom-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.custom-table th {
    background-color: #f2f2f2;
    text-align: left;
}
i#burguer {
    position: absolute; /* Adicionamos position: absolute para posicionar o ícone */
    top: 15px; 
    right: 10%;
    display: flex;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
    justify-content: center;
    z-index: 999; /* Garante que o ícone fique sobreposto ao conteúdo da página */
}

i#burguer:hover {
    cursor: pointer;
}



/* Adaptação para telas menores */
@media screen and (max-width: 600px) {
    .custom-container {
        padding: 10px; /* Reduz o padding */
        font-size: medium; /* Ajusta o tamanho da fonte */
    }

    .custom-table th,
    .custom-table td {
        padding: 8px; /* Reduz o padding das células */
    }
}

/* Estilos da homePage */

.header{
    background-color: var(--color-gray2);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoText{
    display: flex;
    align-items: center;
}

.logo{
    max-width: 5%;
    height: 20%;
    margin-right: 10px;
}

.header h1{
    margin: 0;
}

.Corpo {
    display: flex; /* Utiliza flexbox para controlar o layout */
    justify-content: center; /* Alinha o conteúdo ao centro horizontalmente */
    align-items: flex-start; /* Alinha o conteúdo no topo */
    padding-top: 20px; /* Adiciona um espaço acima do conteúdo */
}

.conteudoHome {
    max-width: 600px; /* Define a largura máxima do conteúdo */
    margin-top: 15%;
    padding: 10px;
    border-radius: 10%;
    text-align: center; /* Alinha o texto ao centro */
    background-image:linear-gradient(to bottom,  #26577c, #ebe4d1, #b4b4b3);
}

.conteudoHome h2 {
    font-size: 50px; /* Define o tamanho da fonte do título */
    color:var(--color-cream); /* Define a cor do texto do título */
    border-radius: 10rem;
}

.conteudoHome p {
    font-size: 20px; 
    color: #333; /* Define a cor do texto do parágrafo */
    margin-bottom: 20px; /* Adiciona margem abaixo do parágrafo */
    font-family: var(--font-titulo);
}

.conteudoHome a.btn {
    display: block; /* Transforma o link em bloco para ocupar toda a largura disponível */
    width: 100%; /* Define a largura total */
    max-width: 300px; /* Define a largura máxima */
    margin: 10px auto; /* Centraliza horizontalmente e adiciona margem nas laterais */
    padding: 10px 20px; /* Adiciona espaçamento interno */
    background-color: #26577c; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado do link */
    border-radius: 4px; /* Adiciona cantos arredondados */
    transition: background-color 0.3s; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.conteudoHome a.btn:hover {
    background-color: #0056b3; /* Altera a cor de fundo ao passar o mouse */
}

header {
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between; /* Alinha os itens na div superior */
    align-items: center;
    padding: 10px 20px; /* Adiciona algum espaçamento interno */
    background-color:transparent/* Cor de fundo do header */
  }


/* Media Query para tornar responsivo */
@media (max-width: 768px) {
    .logoAndText {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 5px;
    }

    h1 {
        margin: 0;
    }

    .mainMenu {
        position: relative;
    }

    i#burguer {
        display: flex;
    }

    #itens {
        display: none;
        position: absolute;
        top: 100%;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        z-index: 1;
        flex-direction: column;
    }

    #itens li {
        margin: 5px 0;
    }

    #itens a {
        padding: 10px;
    }

    #itens a:hover {
        background-color: #f0f0f0;
    }

    #itens.active {
        display: flex;
    }
}






