@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300;1,500&family=Quicksand:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root{
  --font-titulo: "MontSerrat", sans-serif;
}
body {
  background-image: url('/background1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

 #map {
    height: 80%;
    width: 100%;
 }  

  html,
  body {
    height: 100%;
    margin: 25;
    padding: 0;
    font-family: var(--font-titulo);
  }


i#burguer {
    font-size: 24px; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
    cursor: pointer; /* Altera o cursor para parecer um botão clicável */
    display: flex;
    margin-bottom: 0;
    justify-content: right;
    transition: color 0.3s ease;
}

i#burguer:hover {
    color: #bd6614; /* Altera a cor do ícone quando hover */
}


.mainMenu menu{
    display: none;
    padding: 0;
    margin: 0;
}

#itens li {
    margin: 5px 10px;
}

#itens a {
    text-decoration: none;
    color: #333; /* Cor do texto */
}

#itens a:hover {
    color: var(--color-orange); /* Cor do texto no hover */
}

header {
  display: flex;
  justify-content: space-between; /* Alinha os itens na div superior */
  align-items: center; /* Centraliza os itens verticalmente */
  padding: 10px 20px; /* Adiciona algum espaçamento interno */
  background-color:transparent/* Cor de fundo do header */
}